<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Spring Boot Chat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link type="text/css" href="chatstyles.css" rel="stylesheet" />
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="style2">Chat!</h1>
            <div class="chatArea">
                <div class="messages">
                    <tr th:each="message : ${messages}">
                        <b><td th:text="${message.name}"></td>: </b><td th:text="${message.content}"></td><br />
                    </tr>
                </div>
                    <form th:action="@{/chat/newMessage}" method="POST">
                        <input class="form-control" name="content" type="content"  placeholder="Your message" aria-describedby="basic-addon2" style="width:80%;float:left;" autofocus="true" />
                        <input class="btn btn-default" value="Send" type="submit" style="width:20%;float:left;"/>
                    </form>


            </div>


        </div>

        <div class="col-md-4">
            <h1 class="style1">Participants</h1>
            <div class="chatArea">
                <table>
                    <tr th:each="users : ${activeUsers}">
                        <td th:text="${users.user}"></td><br />
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>