<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
</head>
<body>

<h1>You need to log in to participate</h1>

    <form th:action="@{/user/login}" method="POST">
        Email: <input type="text" name="email" /><br />
        Password: <input type="password" name="password" /><br />
        <input type="submit" value="Sign in" />
    </form>

<br /><br />

<a href="/register">Register new user</a>

</body>
</html>